*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.title {
  font-size: 0.75rem;
  font-family: 'Roboto Condensed', sans-serif;
}
